{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 style="font-family:Copperplate"class="center brown-text text-lighten-5">Welcome to DevRebellion</h1>
  <div class="row">
    <div class="col s12">
      <div class="card horizontal black">
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title center brown-text text-lighten-5">Our Culture</span>
            <p class="red-text text-darken-4" style="font-family:Copperplate">We believe in empowering developers and fostering a collaborative community where innovation thrives. At DevRebellion, you have the power to shape your coding journey and unlock your full potential.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="card horizontal black">
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title center brown-text text-lighten-5">Our Mission</span>
            <p class="red-text text-darken-4" style="font-family:Copperplate">DevRebellion is on a mission to revolutionize the developer community by providing a platform that connects developers of all skill levels worldwide. We aim to eliminate the barriers to knowledge sharing, promote collaboration, and create a global network of developers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h2 class="center brown-text text-lighten-5" style="font-family:Copperplate">Benefits of DevRebellion</h2>
    </div>
    <div class="col s12 m4">
      <div class="card black">
        <div class="card-content">
          <span style="font-family:Copperplate" class="card-title center brown-text text-lighten-5">Display Portfolios</span>
          <p class="red-text text-darken-4" style="font-family:Copperplate">Showcase your projects, skills, and achievements with a customizable portfolio on DevRebellion. Make a great first impression and attract opportunities.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card black">
        <div class="card-content">
          <span class="card-title center brown-text text-lighten-5" style="font-family:Copperplate">Explore Projects</span>
          <p class="red-text text-darken-4" style="font-family:Copperplate">Discover a wide range of projects created by developers from all over the globe. Explore different coding techniques, learn from others, and get inspired.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card black">
        <div class="card-content">
          <span class="card-title rcenter brown-text text-lighten-5" style="font-family:Copperplate">Meaningful Connections</span>
          <p class="red-text text-darken-4" style="font-family:Copperplate">Connect with like-minded developers, mentors, and collaborators. Build professional relationships, exchange ideas, and unlock endless opportunities.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
