{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>devRebellion</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body class="grey darken-4">
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <ul>
          <li>
            <a href="/" class="left brand-logo red-text text-accent-4">&nbsp;&nbsp;devRebellion</a>
          </li>
        </ul>
        <ul class="right">
          <li><a class="red-text text-accent-4" href="/about">About</a></li>
          {% if user.is_authenticated %}
          <li><a class="red-text text-accent-4" href="/developers">Developers</a></li>
          <li><a class="red-text text-accent-4" href="/projects">Projects</a></li>
          <li><a href="{% url 'projects_create' %}">Add a Project</a></li>
          <li><a href="{% url 'index' %}">View All My Projects</a></li>
          <li><a class="red-text text-accent-4" href="/feeds">Feed</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container white-text">{% block content %} {% endblock %}</main>
  <footer class="page-footer black red-text text-accent-4">
    <div class="right">All Rights Reserved, &copy; {% now 'Y' %} devRebellion &nbsp;</div>
  </footer>
</body>

</html>