<!-- This is the feeds index page. It will display all posts from all users (until/unless only followed is implemented)-->
{% extends 'base.html' %} {% block content %}

<h1 style="font-family:Copperplate" class="center brown-text text-lighten-5">Feed</h1>
  
<div class="center-align"><a class="red darken-4 btn brown-text text-lighten-5" href="{% url 'feeds_create' %}">Add A Post</a></div>

<!-- Insert login check -->


{% for feed in feeds %}
<a href="{% url 'feeds_detail' feed.id %}">
  <div class="row">
    <!-- Check column sizes for cards -->
    <div class="col s12">
      <div class="card black">
        <div class="card-content white-text">
          <!--insert feed.user(?) below when user fk is instituted-->
          <span class="card-title red-text text-accent-4">{{ feed.user.username }}</span>
          <p style="font-family:Copperplate"class="red-text"><strong>{{ feed.name }}</strong></p>
          <p style="font-family:Copperplate" class="brown-text text-lighten-5">{{ feed.text }}</p>
          <span class="red-text text-accent-4">{{ feed.timestamp }}</span>
        </div>
        <!-- <div class="card-image">
          <img src="{{ post.imagesource }}" alt="default image">
        </div> -->
      </div>
    </div>
  </div>
</a>
{% endfor %}{% endblock %}