<!-- This is the feeds index page. It will display all posts from all users (until/unless only followed is implemented)-->
{% extends 'base.html' %} {% block content %}

<h1 style="font-family:Copperplate" class="white-text">Feed - <a href="{% url 'feeds_create' %}">Add A Post</a></h1>

<!-- Insert login check -->


{% for feed in feeds %}
<a href="{% url 'feeds_detail' feed.id %}">
  <div class="row">
    <!-- Check column sizes for cards -->
    <div class="col s12 m8">
      <div class="card black">
        <div class="card-content white-text">
          <!--insert feed.user(?) below when user fk is instituted-->
          <span class="card-title red-text text-accent-4">{{ feed.user.username }}</span>
          <p class="red-text"><strong>{{ feed.name }}</strong></p>
          <p class="white-text">{{ feed.text }}</p>
        </div>
        <!-- <div class="card-image">
          <img src="{{ post.imagesource }}" alt="default image">
        </div> -->
      </div>
    </div>
  </div>
</a>
{% endfor %}{% endblock %}