{% extends 'base.html' %} {% block content %}

<h1 style="font-family:Copperplate">Developers</h1>

<div class="row">
{% for developer in developers %}
  <div class="col s12 m4 14">
    <div class="card">
    <div class=" black card-content">
        {% load static %}
      <img src="{% static '/devrebellion/main_app/static/photos/pirate2.png' %}" width="100px">
      <span class="card-title">{{developer.name }}</span>
      <p>Username: {{developer.username}}</p>
      <p>Email: {{developer.email}}</p>
      <p>Links: {{developer.link}}</p>
    </div>
  </div>
</div>


{% endfor %} {% endblock %}