{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 style="font-family:Copperplate">Project Details</h1>

    <div class="card-action">
        <a href="{% url 'cats_update' cat.id %}">Edit</a>
        <a href="{% url 'cats_delete' cat.id %}">Delete</a>
        <div class="card-content">
            <span class="card-title">{{ project.name }}</span>
            <p><strong>Name:</strong> {{ project.name }}</p>
            <p><strong>Developer:</strong> {{ project.developer }}</p>
            <p><strong>Description:</strong> {{ project.description|linebreaks }}</p>
        </div>
    </div>
</div>
{% endblock %}
