{% extends 'base.html' %}

{% block content %}
<h1 style="font-family:Copperplate">Project Details</h1>

<div class="row">
    <div class="col s7">
        <div class="card black">
            <div class="card-content">
                <span style="font-family:Copperplate" class="card-title">Project: <strong><span style="font-family:Copperplate" class="red-text">
                            {{ project.name }}
                        </span></strong></span>
                <p><strong>Developer:</strong> <span style="font-family:Copperplate" class="red-text">{{ project.user }}</span></p><br>
                <p><strong>Description:</strong> {{ project.description|linebreaks }}</p>
            </div>
            <div class="card-action">
                <a class="red-text" href="{% url 'projects_update' project.id %}">Edit</a>
                <a class="red-text" href="{% url 'projects_delete' project.id %}">Delete</a>
            </div>
        </div>
        
        <h4 style="font-family:Copperplate">Technologies:</h4>
        <div class="chips text-white"><i class="x"></i></div>

        <h5 style="font-family:Copperplate">Comments:</h5>
        {% for comment in comments %}
        <div class="card black">
            <div class="card-content">
                <p style="font-family:Copperplate" class="red-text text-accent-4">{{ comment.user }}</p>
                <p>{{ comment.text }}</p>
                <p style="font-family:Copperplate" class="red-text text-darken-4">{{ comment.timestamp }}</p>
            </div>
        </div>
        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}
        <form method="POST" action="{% url 'add_comment' project.id %}">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button style="font-family:Copperplate" class="btn red darken-4" type="submit">Post Comment</button>
        </form>
    </div>
    <div class="col s5">
        <!--Display Photos-->
        {% for photo in project.photo_set.all %}
        <img class="responsive-img card-panel" src="{{photo.url}}" alt="project photo {{photo.id}}">
        {% empty %}
        <!-- Change teal-text -->
        <div style="font-family:Copperplate" class="card-panel black red-text text-accent-4 center-align">No Photos Uploaded</div>
        {% endfor %}
        <!--Upload Photos-->
        <form action="{% url 'add_projects_photo' project.id %}" enctype="multipart/form-data" method="POST"
            class="card-panel black">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <button style="font-family:Copperplate" type="submit" class="btn red darken-4">Upload Photo</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
     var elems = document.querySelector('.chips');
     var options = {
       placeholder: 'Enter a tag',
       // secondaryPlaceholder: '+Tag',
       data: [
         { tag: 'Python' },
         { tag: 'Javascript' },
         { tag: 'C++' }
       ]
     };
     var instances = M.Chips.init(elems, options);
   });
 </script>

{% endblock %}