{% extends 'base.html' %}
{% block content %}

<h1 class="center brown-text text-lighten-5" style="font-family:Copperplate">Projects</h1>
<div class="row">
  {% if projects %}
  {% for project in projects %}
  <div class="col s12 m6 l4">
    <div class="card black">
      <div class="card-content">
        <span style="font-family:Copperplate" class="card-title red-text text-darken-4">{{ project.name }}</span>
        <p><strong style="font-family:Copperplate" class="red-text text-darken-4">Name:</strong> {{ project.name }}</p>
        <p><strong style="font-family:Copperplate" class="red-text text-darken-4">Developer:</strong> {{ project.user }}</p>
        <!-- #come back to this section above  -->
        <p><strong style="font-family:Copperplate" class="red-text text-darken-4">Description:</strong> {{ project.description|linebreaks }}</p>
      </div>
      <div class="card-action">
        <a style="font-family:Copperplate" href="{% url 'projects_detail' project.id %}" class="red-text text-darken-4">View Project</a>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}